{% extends 'base.html' %}

{% block title %}
home
{% endblock %}

{% block body %}

  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Vinshot op</h1>
      <h2>Dick like a loaded gun.</h2>
      <a href="ngo/signup/" class="btn-about">Create an account </a>
    </div>
  </section>
  <!-- <button type="button" class="btn btn-info" > <a href="">Log in</a></button> -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}

