{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class= "adjust">
<div class="container" style="margin-top: 35px;">
  <h3>NGO Log in here</h3>
  <form action="#" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="text" name="username" placeholder="Enter username " class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Enter password" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="signup/">No account...!!  dont worry sign up here</a>
</div>
</div>
{% endblock %}


