{% extends 'base.html' %}
{% block body %}
<div class= "adjust">

    <div class="container">      
      <form action="." method="post"  enctype="multipart/form-data">
        
        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit" class="btn btn-lg btn-success">Upload</button>
      </form>
      
      {% if obj %}
      <h3>Succesfully uploaded {{img_obj.caption}}</h3>
      <!-- <img src="{{ obj.image.url}}" alt="image" class="img-thumbnail"  > -->
      {% endif %}
      <hr>
    </div>
  </div>

{% endblock %}