{% extends 'base.html' %}
{% block css %}

{% endblock %}
{% block body %}
<div class= "adjust">
  {% block head %}fuck{%endblock%}
  {% block quote %}fuck offfff{%endblock%}
</div>




     {% for i in feeds %}
    <div class="container">
      <div class="card" style="width: 18rem;">
        <img src="{{i.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{i.caption}}</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="" class="card-link">btn</a>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
    {% endblock %}