{% extends 'base.html' %}
{% block body %}

{% block css %}
<style>
  
  .middle{
    display: flex;
    justify-content: center;
    padding: 40px;
  }
</style>
{% endblock %}
<div class= "adjust">

  
  <h1>ngo ki list idhar aani chahiye </h1>
  {% for i in ngos %}
  <div class="container middle ">
    <div class="card" style="width: 30rem;">
      <img src="{{i.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{i.caption}}</li>
        <li class="list-group-item">{{i.name}}</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="donateitem/" class="card-link">DONATE</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}