{% extends 'base.html' %}
{% block body %}
<div class= "adjust">

<h1>hath bandh</h1>
<div class="container">
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=ATqJxi7g-RC9SeCyDBVg1rZR5Y56442OQbgcIKgchWthIrqUuSOKyyXscL4SN1e_3Z0-NcEsDAyIu-q8&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '88.44'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>
</div>
</div>
{% endblock %}