{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <!-- Favicons -->
  <link href=" /static/img/favicon.png" rel="icon">
  <link href=" /static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" /static/vendor/aos/aos.css" rel="stylesheet">
  <link href=" /static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href=" /static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href=" /static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href=" /static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href=" /static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
  </head>
  <style>
    .navbar ul{
      margin: 0px 50px 0px 112px;
    }
  </style>
  <body>
    <div class="adjust">

      <section id="services" class="services">
        <div class="container" data-aos="fade-up">
          
          <div class="section-title">
            <h2>{% block head %}{%endblock%}</h2>
            <p> {% block quote %}{%endblock%} </p>
          </div>
          
        </section>
      </div>
    <header id="header" class="fixed-top">
      <div class="container-fluid d-flex justify-content-between align-items-center">
  
          
  
        <h1 class="logo me-auto me-lg-0"><a href="/">Donate India</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src=" img/logo.png" alt="" class="img-fluid"></a>-->
  
        <nav id="navbar" class="navbar order-last order-lg-0 navbar">
          <ul>

            {% if user.is_authenticated %}
            
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/feed/">feed</a></li>
            <!-- <li><a href="/feed/">feed</a></li>
            <li><a href="/feed/">feed</a></li>
            <li><a href="/feed/">feed</a></li> -->
            <li><a href="/ngo/logout">Log out</a></li>
            <li class="bi bi-person-circle" style="font-size: 20px;"><b>   {{user.username}}</b></li>
            <li><ul>
              <!-- <li><button type="button" class="btn btn-success btn-rounded">Success</button></li>
              <li><button type="button" class="btn btn-success btn-rounded">Success</button></li> -->
              <li> <a href="/image/" class="btn btn-success btn-rounded" style="color:white;">Add NGO</a></li>
              <li> <a href="/feed/donate/" class="btn btn-success btn-rounded" style="color:white;">All NGOs</a></li>
              <li> <a href="/feed/addpost/" class="btn btn-success btn-rounded" style="color:white;">Add Post</a></li>
            </ul></li>

            {% else %}
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/feed/">feed</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/ngo/">Log In</a></li>
            
            {% endif %}
          </ul>

          
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  

  
      </div>
  
    </header>
    {% block body %}{% endblock %}

    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Donate India</span></strong>. All Rights Reserved
        </div>
      </div>
      <p></p>
      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </footer>

    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src=" /static/vendor/aos/aos.js"></script>
    <script src=" /static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src=" /static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src=" /static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src=" /static/vendor/php-email-form/validate.js"></script>
    <script src=" /static/vendor/purecounter/purecounter.js"></script>
    <script src=" /static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src=" /static/vendor/waypoints/noframework.waypoints.js"></script>

    <script src=" /static/js/main.js"></script>
    {% block js %}{% endblock %}
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>